@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *, .dark, .dark *));

html {
  @apply m-0;
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@theme {
  --text-h1: 24px;
  --text-h1--font-weight: 500;
  --text-h1--line-height: 29px;

  --text-h2: 16px;
  --text-h2--font-weight: 500;
  --text-h2--line-height: 19px;

  --text-button: 20px;
  --text-button--font-weight: 700;
  --text-button--line-height: 24px;

  --text-modal-button: 18px;
  --text-modal-button--font-weight: 600;
  --text-modal-button--line-height: 18px;

  --text-modal-title: 20px;
  --text-modal-title--font-weight: 600;
  --text-modal-title--line-height: 28px;

  --text-modal-description: 18px;
  --text-modal-description--font-weight: 600;
  --text-modal-description--line-height: 24px;

  --text-in-progress: 20px;
  --text-in-progress--font-weight: 600;
  --text-in-progress--line-height: 24px;

  --text-waiting: 20px;
  --text-waiting--font-weight: 500;
  --text-waiting--line-height: 24px;

  --text-sub: 13px;
  --text-sub--font-weight: 400;
  --text-sub--line-height: 16px;

  --text-sub2: 15px;
  --text-sub2--font-weight: 400;
  --text-sub2--line-height: 18px;

  --text-box: 16px;
  --text-box--font-weight: 500;
  --text-box--line-height: 19px;

  --text-box2: 14px;
  --text-box2--font-weight: 400;
  --text-box2--line-height: 17px;

  --text-small: 7px;
  --text-small--font-weight: 500;
  --text-small--line-height: 9px;

  --color-status-pass: #28c76f;
  --color-status-fail: #ea5455;
  --color-status-pending: #ff9f43;
  --color-status-progress: #69c5ff;
  --color-status-inactive: #a8aaac;

  --color-text-black: #1a1a1a;
  --color-text-gray: #858585;
  --color-text-white: #ffffff;

  --color-bg-surface: #f1f1f1;
  --color-bg-white: #ffffff;
  --color-bg-green: #f3fbee;

  --color-logo-gray: #d9d9d9;
  --color-logo-white: #ffffff;

  --color-icon-gray: #b4b4b4;
  --color-icon-light-gray: #e5e5e5;
  --color-icon-green: #e0f4d2;
  --color-icon-red: #ffe2e2;

  --color-primary-main: #637457;
}

h1 {
  font-size: var(--text-h1);
  font-weight: var(--text-h1--font-weight);
}

h2 {
  font-size: var(--text-h2);
  font-weight: var(--text-h2--font-weight);
}

body,
p {
  font-size: var(--text-box);
  font-weight: var(--text-box--font-weight);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
